.container {
    position: absolute;
    top: 30%;
    left: 27%;
}

.headerTitle {
    font-size: 5vw;
    font-weight: 600;
    width: 100%;
}

.headerP {
    font-size: 3vw;
    padding: 1rem;
}

.headerButtons {
    display: flex;
    gap: 1rem;
    padding-left: 12vw;
}

.login,.signup {
    font-size: 2vw;
    padding: 0.5rem;
}