.container {
    width: 50%;
    background-color: #DC602E;
    padding: 3.5vw 2vw 6vw 2vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.form {
    background-color: rgba(241,232,224,0.7);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 4vw;
}

.container h1 {
    font-size: 2vw;
    font-weight: 600;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.form div label {
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.form a {
    color: #DC602E;
    text-decoration: underline;
    font-weight: 500;
}

.form a:hover {
    color:black
}

.btn {
    border: 3px solid black;
}

.btn-secondary {
    background-color: black;
}

.btn-secondary:hover {
    background-color: #DC602E;
    color: black;
    border-color: black;
}

.text-danger {
    margin-top: 10px;
}

.btn-outline-secondary {
    color: black
}

@media (max-width: 767px) {
    .container {
        width: 80%;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 60px;
    }
    .container h1 {
        font-size: 4vw;
    }
    .form {
        padding: 6vw;
    }

}

