nav {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0C0C0C;
    padding: 1vw 0 1vw 0;
    border-bottom: 2px solid rgb(241,232,224);
}

.logo {
    width: 8vw;
    height: auto;
    padding-left: 1vw;
}

.navbarLinks {
    display: flex;
    gap: 1vw;
    padding-right: 1vw;
}

a {
    color:rgb(241,232,224);
}