nav {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0C0C0C;
    padding: 1vw 0 1vw 0;
    border-bottom: 2px solid rgb(241,232,224);
}

.logo {
    width: 8vw;
    height: auto;
    padding-left: 1vw;
}

.navbarLinks {
    display: flex;
    gap: 2vw;
    padding-right: 1vw;
    align-items: center;
}

nav a {
    color:rgb(241,232,224);
    font-weight: 300;
    font-size: 1vw;
}

nav a:last-child {
    border: 2px solid rgb(241,232,224);
    padding: 0.5vw;
    font-weight: 500;
}

nav a:last-child:hover {
    background-color: #DC602E;
    color: #0C0C0C;
}

a:hover {
    color: #DC602E
}