nav {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 0 1rem 0;
}

.logo {
    width: 8rem;
    height: auto;
    padding-left: 1rem;
}

.navbarLinks {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
}

a {
    color: black;
}