.newForm {
    display: flex;
    flex-direction: row;
}

.newForm input,.newForm select {
    width: 11vw;
    margin-right: 2vw;
}

.newForm button {
    margin-left: 2vw;
    background-color: #DC602E;
    color: #ffffff;
    border:none
}

.newForm button:hover {
    background-color: black;
}

.text-danger {
    flex-basis: 100%;
    order: 3
}
