.newForm {
    display: flex;
    flex-direction: row;
}

.newForm div {
    display: flex;
    flex-direction: column;
    max-width: 11vw;
    margin-right: 2vw;
}

.newForm div:last-child {
    margin-top: 1vw;
    font-size: 1vw;
}

.newForm input,.newForm select {
    width: 11vw;
    min-height: 6vh;
}

.newForm button {
    margin-left: 2vw;
    background-color: #DC602E;
    color: #ffffff;
    border:none
}

.newForm button:hover {
    background-color: black;
}

.text-danger {
    flex-basis: 100%;
    order: 3;
}

@media (max-width: 767px) {
    .newForm {
        flex-direction: column;
        gap:10px;
    }
    .newForm div {
        max-width:100%;
        margin-right: 0px;
    }
    .newForm input,.newForm select {
        width: 100%;
        min-height: 3vh;
    }
    .newForm button {
    padding: 0.5em;
    margin-left: 0px;
}

.newForm div:last-child {
    font-size: 0.5em;
}
    
}
