.cardContainer {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16em;
    border-radius: 10px;
}

.cardContainer h2 {
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    padding: 10px 0 15px 0;
}

.cardContainer img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}